<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Diagramador UML</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <button type="button" class="dropdown-item button" data-bs-toggle="modal" data-bs-target="#exampleModal3"
        (click)="exportDiagram('image')">
          Guardar Diagrama
        </button>
        <button type="button" class="dropdown-item button" data-bs-toggle="modal" data-bs-target="#example2Modal">
          Cargar Diagramas
        </button>
      </ul>
    </div>
  </div>
</nav>
