@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

body {
   font-family: 'Roboto', sans-serif;
}

.navbar-nav {
  display: flex;
  margin-bottom: 10px;

}

.nav-link {
  color: #000; /* Color del texto de los enlaces */
  padding: 10px;
}

.container-fluid{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(243, 191, 225);
}

.button{
  margin: 5px;
}

/* Alineación del formulario en el modal */
.modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


